# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Hydra logs
outputs/

lat.npy
lon.npy
predict_yaochu.py
predict_yaochu.v0.1.0.py
std_analysis.py
std_test.py
run_prediction_analysis.py

# logger (e.g. Tensorboard, wandb)
logs/
*.err
*.out

# checkpoint
checkpoints/
export/
**.onnx

# PyTorch Profiler
profiler/

# Django stuff:
*.log
*.docx

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# IPython
profile_default/
ipython_config.py

# Output Datasets
output/**nc
debug_plots/**png

# Figures
*.png
*.gif
.worktrees/
