# **Minimalist Environment Installation**
#
## **Using conda/mamba/micromamba**
#
#[-1-$] micromamba create -n dlampTW -c conda-forge python=3.11 conda
#
#[-2-$] pip install "numpy<2.0" "torch==2.4.0" "torchvision==0.19.0" "torchaudio==2.4.0" --default-index "https://download.pytorch.org/whl/cu124"
#
#[-3-$] pip install importlib-metadata requests termcolor wandb mlflow cftime opencv-python
#
#[-4-$] pip install pyyaml scipy metpy cartopy ipykernel geopandas pydantic lightning einops rasterio xarray netCDF4 cartopy
#
#[-5-$] pip install hydra-core --upgrade
#
#[-6-$] pip install "onnxruntime-gpu==1.19.0"
#
# **Libraries for Nvidia-modulus**
importlib-metadata
requests
termcolor
wandb
mlflow
cftime
opencv-python
# other
numpy<2.0
torch==2.4.0
torchvision==0.19.0
pyyaml
scipy
metpy
cartopy
ipykernel
geopandas
pydantic
lightning
einops
rasterio
xarray
netCDF4
