# **Minimalist Environment Installation**
# 
## **Using conda/mamba/micromamba**
#[-1-$] micromamba create -n dlampTW -c conda-forge python=3.12 conda ffmpeg 
#[-2-$] pip install "torch==2.8.0" "torchvision==0.23.0" "torchaudio==2.8.0" --default-index "https://download.pytorch.org/whl/cu128"
#
#[-3-$] pip install importlib-metadata requests termcolor wandb mlflow cftime opencv-python
#
#[-4-$] pip install pyyaml scipy metpy cartopy ipykernel geopandas pydantic lightning einops rasterio xarray netCDF4 cartopy
#
#[-5-$] pip install hydra-core --upgrade
#
#[-6-$] pip install "onnxruntime-gpu>=1.19.0"
#
# **Libraries for Nvidia-modulus**
importlib-metadata
requests
termcolor
wandb
mlflow
cftime
opencv-python
torch
torchvision
pyyaml
scipy
metpy
cartopy
ipykernel
geopandas
pydantic
lightning
einops
rasterio
xarray
netCDF4
hydra-core
onnxruntime-gpu
ffmpeg
